<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>RadioCanada-Bold.ttf</string>
		<string>RadioCanada-Regular.ttf
                                    .font(Font.custom("RobotoFlex-Regular", size: 18, relativeTo: .title3))
RadioCanada-Regular.ttf</string>
		<string>RadioCanada-Light.ttf</string>
	</array>
</dict>
</plist>
